<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>673116420907-10hbvk57daojb3jjb9im0o9uf00c227j.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.673116420907-10hbvk57daojb3jjb9im0o9uf00c227j</string>
	<key>API_KEY</key>
	<string>AIzaSyAsolZhvaayBS41kBrlX551-2Z65A4nL0E</string>
	<key>GCM_SENDER_ID</key>
	<string>673116420907</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>NewWaveComputers.CareIt</string>
	<key>PROJECT_ID</key>
	<string>careit-4d35e</string>
	<key>STORAGE_BUCKET</key>
	<string>careit-4d35e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:673116420907:ios:d6acfe3c635843f8</string>
	<key>DATABASE_URL</key>
	<string>https://careit-4d35e.firebaseio.com</string>
</dict>
</plist>